# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Release Action

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-24.04
    if: ${{ github.repository_owner == 'query-doctor' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          cache-hash: ${{ hashFiles('**/deno.lock') }}
          deno-version: v2.x
      - name: Export version
        run: |
          echo "DENO_VERSION=$(jq -r '.version' deno.json)" >> $GITHUB_ENV
      - name: Typecheck
        run: deno check

      - name: Run tests
        run: deno run test

      - name: Upload files to release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.DENO_VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
